<h1>Hello, Rails!</h1>
<button id="thang">hello world</button>
<script>
  let button = document.getElementById('thang');
  button.addEventListener('click', ()=>{console.log('hello world');})
</script>
